@model GIP.PRJ.TraiteurApp.Models.MenuItem

@{
    ViewData["Title"] = "Verwijderen menu item";
}

<h1>Verwijderen</h1>

<p style="color: darkred">Verwijderen onuitvoerbaar (aanwezig in (een) bestelling(en))</p>
<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index">Terug naar overzicht</a>
    </form>
</div>
