@model IEnumerable<GIP.PRJ.TraiteurApp.Models.CreateRolesViewModel>
@using GIP.PRJ.TraiteurApp.Models
@{
    ViewData["Title"] = "Index";
}

<h1>User Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.IdentityUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.RoleNames)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
