@model IEnumerable<GIP.PRJ.TraiteurApp.Models.OrderDetail>

@{
    ViewData["Title"] = "Overzicht order";
}

<h1>Overzicht Bestelgegevens - @ViewBag.OrderId</h1>

@if (!ViewBag.IsLocked)
{
    <a asp-action="Create" asp-route-id="@ViewBag.OrderId" class="btn btn-primary">Toevoegen detaillijn</a>
@if (User.IsInRole("Administrator"))
{
    <a asp-action="CheckOut" asp-controller="Orders" asp-route-id="@ViewBag.OrderId" class="btn btn-success">Afrekenen</a>
}
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (!ViewBag.IsLocked)
                {
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
