@model GIP.PRJ.TraiteurApp.Models.Customer

@{
    ViewData["Title"] = "Verwijderen klant";
}

<h1>Verwijderen</h1>

<p style="color: darkred">Verwijderen van klanten onuitvoerbaar (aanwezig in (een) bestelling(en))</p>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index">Terug naar het overzicht</a>
    </form>
</div>
